doctype html
html
   head
      title = "Hello Pug"
      link(rel='stylesheet' href='style.css')
   body
      nav
         ul
            li
               a(href="./home") Home
            li
               a(href="./who-we-are") ¿Quiénes somos?
            li
               a(href=".#") ¿Dónde estamos?
            li
               a(href="./what-we-do") ¿Qué hacemos?
            li
               a(href="./contact-us") Contacto

      h1 ¿DÓNDE ESTAMOS?
      p Párrafo de ejemplo