doctype html
html
   head
      title = "Hello Pug"
      link(rel='stylesheet' href='style.css')
   body
      nav
         ul
            li
               a(href="#") Home
            li
               a(href="./who-we-are") ¿Quiénes somos?
            li
               a(href="./where-we-are") ¿Dónde estamos?
            li
               a(href="./what-we-do") ¿Qué hacemos?
            li
               a(href="./contact-us") Contacto

      h1 HOME
      p Párrafo de ejemplo
      script(src="script.js")