doctype html
html
   head
      title = "Hello Pug"
      link(rel='stylesheet' href='style.css')
   body
      nav
         ul
            li
               a(href="./home") Home
            li
               a(href="./who-we-are") ¿Quiénes somos?
            li
               a(href="./where-we-are") ¿Dónde estamos?
            li
               a(href="#") ¿Qué hacemos?
            li
               a(href="./contact-us") Contacto

      h1 ¿QUÉ HACEMOS?
      p Párrafo de ejemplo